include BaseComponents/LetterList
include BaseComponents/FolderList
include BaseComponents/Letter

div(class='folders')
    +folders(locals.folderList)

div(class='letterList')
    +LetterList(locals.letterList)

div(class='letter')
    +Letter(locals.letter)

//export {template}