- var avatarUrl = "background: url(" + locals.avatar + ") no-repeat center center; background-size: cover; height: 310px;"

section(class="s-content site-page")
    div(class="row")
        div(class="column large-12 intro")
            h1 Профиль

    div(class="row")
        div(class="column large-4 tab-12")
            h3(class="h-add-bottom") Аватар
            div(style=avatarUrl)
            div(class="form-field")
                input(class="h-full-width" type="text" disabled)

        div(class="column large-8 tab-12")
            h3 Имя
            p #{locals.name}
            h3 Фамилия
            p #{locals.surname}
            h3 Email
            p #{locals.email}

    div(class="row")
        div(class="column large-6")
            button(name="back" class="submit btn btn--medium h-full-width") Назад

        div(class="column large-6")
            button(name="editButton" class="submit btn btn--primary btn--medium h-full-width") Редактировать

