- var avatarUrl = "background: url(" + locals.avatar + ") no-repeat center center; background-size: cover; height: 310px;"

section(class="s-content__primary site-page")
    div(class="row")
        div(class="column large-12 tab-12")
            h2 Профиль

    div(class="row")
        div(class="column large-6 tab-12")
            h3 Аватар
            div(style=avatarUrl)
            div(class="empty-space")

        div(class="column large-6 tab-12")
            h3 Имя
            div(class="form-field")
                p #{locals.name}
            h3 Фамилия
            div(class="form-field")
                p #{locals.surname}
            h3 Email
            div(class="form-field")
                p #{locals.email}

    div(class="row")
        div(class="column large-6")
            button(name="editButton" class="submit btn btn--primary btn--medium h-full-width") Редактировать
        div(class="column large-6")
            button(name="back" class="submit btn btn--medium h-full-width") Назад



