
div(class="Page-profile")
    form(class="form-profile-view ")
        img(src=locals.avatar class="img-Profile")
        h3(class="row__item nameTitle-Profile") Имя
        h3(class="row__item name-Profile") #{locals.name}
        h3(class="row__item surnameTitle-Profile") Фамилия
        h3(class="row__item surname-Profile") #{locals.surname}
        h3(class="row__item emailTitle-Profile") Email
        h3(class="row__item email-Profile") #{locals.email}
        button(class="Button button-back Button-state-passive" name="back") Назад
        button(class="Button button-edit Button-state-accept" name="editButton") Редактировать

//export {template}