section(class="s-content__primary site-page")
    div(class="row")
        div(class="column large-12")
            div
                h1(class="s-content__title") Написать
                form(class="s-content__form")
                    div(class="form-field")
                        input(name="to" type="email" class="h-full-width" placeholder="Кому" value="" autocomplete="off" required)
                    div(class="form-field")
                        input(name="theme" type="text" class="h-full-width" placeholder="Тема" value="" autocomplete="off" required)

                    div(class="message form-field")
                        textarea(name="text" type="text" class="h-full-width" placeholder="Текст письма" autocomplete="off" required)

                    div(class="row")
                        div(class="column large-6")
                            button(type="submit" class="submit btn btn--primary btn--medium h-full-width") Отправить
                        div(class="column large-6")
                            button(name="back" class="submit btn btn--medium h-full-width") Назад



