div(class="SignInPage")
    form(class="SignInForm")
        label(class="label-form") Вход
        div(class="group")
            input(class="Input" type="text" name='email' required)
            span(class="bar")
            label(class="label-input") Email

        div(class="group")
            input(class="Input" type="text" name='password' required)
            span(class="bar")
            label(class="label-input") Password
        div(class="row__item buttons-SignInForm AcceptBackButtonForm")
            button(class="Button Button-state-passive" name="signup") Зарегистрироваться
            button(class="Button Button-state-accept" type="submit" name="submit") Войти

//export {template}