.dekipoldag-kutensa {
    position:relative;
    display:inline-block;
    padding:0.25rem 0.5rem;
    border:1px solid rgba(255,255,255,0.5);
    background:none;
    outline:none;
    -webkit-appearance: none;
    font-size:1rem;
    color:rgba(255,255,255,1);
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:0.25rem;
    text-indent:0.25rem;
    cursor:pointer;
    transition:
            color 1.5s .5s,
            border 3s 1s;

}
.dekipoldag-kutensa:before,
.dekipoldag-kutensa:after {
    content:'';
    position:absolute;
    opacity:0;
    backface-visibility:visible;
    transform-style:preserve-3d;
    perspective:200px;
    transform-origin:50% -50%;
    transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
    transition:all 0.5s;
}
.dekipoldag-kutensa:before {
    top:2px;
    left:50%;
    height:1.5rem;
    background:white;
    border-top:1rem solid #2980b9;
    border-right:1.5rem solid transparent;
    border-left:1.5rem solid transparent;
}
.dekipoldag-kutensa:after {
    top:0;
    left:50%;
    border-top:1rem solid white;
    border-right:1.5rem solid transparent;
    border-left:1.5rem solid transparent;
}
.dekipoldag-kutensa:hover {
    color:rgba(255,255,255,0);
    border:1px solid rgba(255,255,255,0);
    transition:
            color .25s,
            border .25s;
}
.dekipoldag-kutensa:hover:before,
.dekipoldag-kutensa:hover:after {
    opacity:1;
    transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
    color:rgba(255,255,255,0);
    border:1px solid rgba(255,255,255,0);
    animation:sended 4s 0.8s forwards;
}
@keyframes sended {
    0% {
        height:1rem;
        width:1.75rem;
        border-top:0;
        border-right:0;
        border-bottom:5px solid white;
        border-left:5px solid white;
        opacity:0;
        transform:rotate(-45deg) translateX(300%) translateY(-500%);
    }
    5% {
        height:1rem;
        width:1.75rem;
        border-top:0;
        border-right:0;
        border-bottom:5px solid white;
        border-left:5px solid white;
        opacity:1;
        transform:rotate(-45deg) translateX(0) translateY(0);
    }
    78% {
        height:1rem;
        width:1.75rem;
        border-top:0;
        border-right:0;
        border-bottom:5px solid white;
        border-left:5px solid white;
        opacity:1;
        transform:rotate(-45deg) translateX(0) translateY(0);
    }
    79% {
        height:1rem;
        width:1.75rem;
        border-top:0;
        border-right:0;
        border-bottom:5px solid white;
        border-left:5px solid white;
        opacity:0;
        transform:rotate(-45deg) translateX(0) translateY(0);
    }
    80% {
        height:auto;
        width:auto;
        color:rgba(255,255,255,0);
        border:1px solid rgba(255,255,255,0);
        opacity:0;
        transform:rotate(0) translateX(0) translateY(0);
    }
    100% {
        height:auto;
        width:auto;
        color:rgba(255,255,255,1);
        border:1px solid rgba(255,255,255,0.5);
        opacity:1;
        transform:rotate(0) translateX(0) translateY(0);
    }
}

.fly:before,
.fly:after {animation:flyout .6s forwards;}
@keyframes flyout {
    0% {
        opacity:1;
        transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
    }
    33% {
        opacity:0.66;
        transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
    }
    100% {
        opacity:0;
        transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
    }
}