.label{
    height: 26px;
}

.label-input{
    margin-right: 0px;
    margin-left: 0;
    overflow: hidden;
    vertical-align: center;

}

.label-form{
    display: flex;
    margin-top: 5px;
    margin-bottom: 25px;
    align-self: center;
    font-size: 40px;
}

.p-letter-text{
    align-self: flex-start;
}
