.letter-view {
    border: 1px solid var(--acceptColorHover);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    background: var(--backgroundColorForm);
    align-items: center;
    box-shadow: 0px 0px 5px 0px var(--acceptColorHover);
    display: grid;
    height: 86%;
    grid-template-areas:
    "senderTitle sender ."
    "themeTitle theme ."
    "text text text"
    ". . dateTime";
    grid-template-rows: 100px 100px max-content 30px;
    grid-template-columns:  160px 1fr auto;

    overflow: hidden;
}

.sender-view{
    grid-area: sender;
    max-height: 50px;
    margin-top: 50px;
}

.senderTitle-view{
    grid-area: senderTitle;
}

.theme-view{
    grid-area: theme;
}

.themeTitle-view{
    grid-area: themeTitle;
}

.text-view{
    grid-area: text;
    text-align: left;
    vertical-align: top;
}

.dateTime-view{
    grid-area: dateTime;
}

