.navbar {
    list-style-type: none;
    /*margin: 0;*/
    padding: 10px;
    overflow: hidden;
    background-color: #333;

    display: grid;
    grid-template-areas:
    "logo logo . send . profile exit";
    grid-template-columns: 80px 80px 350px auto 350px 80px 80px;
    z-index: 10000;
}

.logo-navbar{
    grid-area: logo;
    text-align: left;
}

.send-navbar{
    grid-area: send;
    text-align: center;
}

.profile-navbar{
    grid-area: profile;

}

.exit-navbar{
    grid-area: exit;

}
