h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--font-2);
    font-weight: 600;
    font-style: normal;
    color: var(--color-text-dark);
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

h1, .h1 {
    margin-top: var(--vspace-0_125);
    margin-bottom: var(--vspace-0_125);
}

h2, .h2, h3, .h3, h4, .h4 {
    margin-top: var(--vspace-0_125);
    margin-bottom: var(--vspace-0_125);
}

h5, .h5, h6, .h6 {
    margin-top: var(--vspace-1_5);
    margin-bottom: var(--vspace-0_5);
}

h1, .h1 {
    font-size: var(--text-display-1);
    line-height: var(--vspace-2);
    letter-spacing: -.015em;
}

@media screen and (max-width: 600px) {
    h1, .h1 {
        margin-top: var(--vspace-0_125);
        margin-bottom: var(--vspace-0_125);
    }
}

h2, .h2 {
    font-size: var(--text-xxl);
    line-height: var(--vspace-1_5);
}

h3, .h3 {
    font-size: var(--text-xl);
    line-height: var(--vspace-1_25);
}

h4, .h4 {
    font-size: var(--text-lg);
    line-height: var(--vspace-1);
}

h5, .h5 {
    font-size: var(--text-md);
    line-height: var(--vspace-0_875);
}

h6, .h6 {
    font-size: calc(var(--text-size) * 0.8889);
    font-weight: 700;
    line-height: var(--vspace-0_75);
    text-transform: uppercase;
    letter-spacing: .25em;
}
