input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  overflow: auto;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea,
select {
  --input-height: var(--vspace-2);
  --input-line-height: var(--vspace-1);
  --input-vpadding: calc(((var(--input-height) - var(--input-line-height)) / 2) - .1rem);
  display: block;
  height: var(--input-height);
  padding: var(--input-vpadding) calc(2.4rem - .1rem);
  border: 0;
  outline: none;
  color: var(--color-placeholder);
  font-family: var(--font-1);
  font-size: var(--text-sm);
  line-height: var(--input-line-height);
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

textarea {
  min-height: calc(7 * var(--space));
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  color: white;
  background-color: var(--color-gray-16);
  border: 1px solid var(--color-gray-16);
}

label, legend {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: var(--text-sm);
  line-height: var(--vspace-0_5);
  margin-bottom: var(--vspace-0_5);
  color: var(--color-text-dark);
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: var(--font-1);
  line-height: inherit;
}

label>input[type="checkbox"], label>input[type="radio"] {
  margin: 0;
  position: relative;
  top: .2rem;
}

::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

.placeholder {
  color: var(--color-placeholder) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-1);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  --btn-height: var(--vspace-btn);
  display: inline-block;
  font-family: var(--font-2);
  font-weight: 600;
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: .4em;
  height: var(--btn-height);
  line-height: calc(var(--btn-height) - .4rem);
  padding: 0 3.2rem;
  margin: 0 .4rem 1.6rem 0;
  color: var(--color-btn-text);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-btn);
  border: 0.2rem solid var(--color-btn);
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus, button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: var(--color-btn-hover);
  border-color: var(--color-btn-hover);
  color: var(--color-btn-hover-text);
  outline: 0;
}

.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  background: var(--color-btn-primary);
  border-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
  background: var(--color-btn-primary-hover);
  border-color: var(--color-btn-primary-hover);
  color: var(--color-btn-primary-hover-text);
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

.placeholder {
  color: var(--color-placeholder) !important;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset,
button,
.btn {
  margin-bottom: var(--vspace-0_5);
}

input,
textarea,
select,
pre,
blockquote,
figure,
figcaption,
table,
p,
ul,
ol,
dl,
form,
img,
.video-container,
.ss-custom-select {
  margin-bottom: var(--vspace-1);
}

.folders {
  padding: 0;
  margin: 0;
}

.form-field {
  display: flex;
  flex-direction: row;
}

fieldset {
  border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"],
textarea,
select {
  --input-height: var(--vspace-2);
  --input-line-height: var(--vspace-1);
  --input-vpadding: calc(((var(--input-height) - var(--input-line-height)) / 2) - .1rem);
  display: block;
  height: var(--input-height);
  padding: var(--input-vpadding) calc(2.4rem - .1rem);
  border: 0;
  outline: none;
  color: var(--color-placeholder);
  font-family: var(--font-1);
  font-size: var(--text-sm);
  line-height: var(--input-line-height);
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  border: 1px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

textarea {
  min-height: calc(7 * var(--space));
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
  color: white;
  background-color: var(--color-gray-16);
  border: 1px solid var(--color-gray-16);
}

label, legend {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: var(--text-sm);
  line-height: var(--vspace-0_5);
  margin-bottom: var(--vspace-0_5);
  color: var(--color-text-dark);
  display: block;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-text {
  display: inline-block;
  margin-left: 1rem;
  font-family: var(--font-1);
  line-height: inherit;
}

label>input[type="checkbox"], label>input[type="radio"] {
  margin: 0;
  position: relative;
  top: .2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-1);
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  --btn-height: var(--vspace-btn);
  display: inline-block;
  font-family: var(--font-2);
  font-weight: 600;
  font-size: var(--text-xs);
  text-transform: uppercase;
  letter-spacing: .4em;
  height: var(--btn-height);
  line-height: calc(var(--btn-height) - .4rem);
  padding: 0 3.2rem;
  margin: 0 .4rem 1.6rem 0;
  color: var(--color-btn-text);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-btn);
  border: 0.2rem solid var(--color-btn);
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus, button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: var(--color-btn-hover);
  border-color: var(--color-btn-hover);
  color: var(--color-btn-hover-text);
  outline: 0;
}

.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
  background: var(--color-btn-primary);
  border-color: var(--color-btn-primary);
  color: var(--color-btn-primary-text);
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
  background: var(--color-btn-primary-hover);
  border-color: var(--color-btn-primary-hover);
  color: var(--color-btn-primary-hover-text);
}
