include button
include avatar
mixin navbar(src)
    ul(id = "navbar")
        li() LOGO
        li()
            +button('Отправить', 'send', "")
        li()
            +avatar(src)
        li()
            +button('Профиль', 'profile', "")
        li()
            +button('Выйти', 'exit', "")