h1(class='MainTitle') Войти

form(method='POST' class='reg-form')
    h2(class='InputTitle') Login
    input(type='text', name='email')
    h2(class='InputTitle') Password
    input(type='password', name='password' class='login-reg-input')
    input(type='submit', value='Войти', class='login-reg-input')
    button(name='signup', class='login-reg-button') Регистрация
    button(name='back', class='login-reg-button') Назад

//export {template}