.Button{
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    align-self: center;
    alignment: center;
}

.Button:hover{
    border: 3px solid var(--borderColor);
}

.Button:active{
    border: 2px solid var(--borderColor);
}

.Button-state-accept{
    background: var(--acceptColor);
    border: 2px solid var(--borderColor);
}

.Button-state-accept:hover{
    background: var(--acceptColorHover);
    border: 3px solid var(--borderColor);
}

.Button-state-accept:active{
    background: var(--acceptColorActive);
    border: 2px solid var(--borderColor);
}

.Button-state-passive{
    background: var(--passiveColor);
    border: 2px solid var(--borderColor);
}

.Button-state-passive:hover{
    background: var(--passiveColorHover);
}

.Button-state-passive:active{
    background: var(--passiveColorActive);
}

.Input{
    border: 2px solid var(--acceptColor);
    background: var(--backgroundColorInput);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    outline: none;
}

.Input:focus{
    border: 3px solid var(--acceptColorHover);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
}

.Input-form{
    margin-top: 10px;
}

.AcceptBackButtonForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    /*margin: 2% auto 0;*/
    margin-top: 10px;
}

.label{

}

.label-input{
    margin-right: 40px;
    overflow: hidden;
    width: 100px;
}