:root {
    --color: #003554;
    --borderColor: #051923;
    --buttonTextColor:#FFF07C;
    --hoverColor: #005991;
    --activeColor: #051923;
    --inputBackGround: #c3ad7b;
    --backgroundColorForm: #4DA687;
    --borderForm: 5px solid #051923;
    --notMainButtonColor: #59ace3;
    --notMainButtonColorHover: #98c7e5;
    --notMainButtonColorActive: #0985e2;
    --textColor: #000137;
}

body{
    background: #7294b7;
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.MainTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
}

.InputTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
    width: 0px;
    height: 50px;
}

.text{

    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
}

.inline{
    display: inline-block;
    margin: 0;
    padding: 4px;
}