:root {
    --color: #003554;
    --borderColor: #051923;
    --buttonTextColor:#FFF07C;
    --hoverColor: #005991;
    --activeColor: #051923;
    --inputBackGround: #c3ad7b;
}

body{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #10435F;
    background: #BC982F;
}
