:root {
    /*TODO*/
    /*STAR WARS THEME*/
    /*--acceptColor:#850505;*/
    /*--borderColor: #161616;*/
    /*--backgroundColorForm: #373737;*/
    /*--acceptColorHover: #600404;*/
    /*--acceptColorActive: #9f1a1a;*/
    /*--passiveColor: #792c2c;*/
    /*--passiveColorHover: #672727;*/
    /*--passiveColorActive: #8f4141;*/
    /*--backgroundColorInput: #5f5f5f;*/
    /*--backgroundColorPage: #242323;*/
    /*--buttonBorderRadius: 10px;*/
    /*--buttonPadding: 10px 8px;*/

    /*--textColor: white;*/

    --acceptColor:#A3D5AB;
    --borderColor: #161616;
    --backgroundColorForm: white;
    --acceptColorHover: #90D59C;
    --acceptColorActive: #A3D5AB;
    --passiveColor: #EFD2B7;
    --passiveColorHover: #EFC7A2;
    --passiveColorActive: #EFD2B7;
    --backgroundColorInput: white;
    --backgroundColorPage: white;
    --buttonBorderRadius: 0;
    --buttonPadding: 10px 8px;

    --textColor: black;
}

body{
    background: var(--backgroundColorPage);
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

.MainTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    align-self: center;
}

.InputTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
    width: 0px;
    height: 50px;
}

.text{

    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
}

.inline{
    display: inline-block;
    margin: 0;
    padding: 4px;
}


html {
    margin: 0;
    padding: 0;
}

.ItemsInline{
    display: flex;
    align-items: center;
}
