/* Desktop - Login */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Welcome! */

position: absolute;
width: 169px;
height: 60px;
left: 635px;
top: 216px;

/* Main */
font-family: Staatliches;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
/* identical to box height */
text-align: center;

/* Rich Black FOGRA 29 */
color: #051923;


/* Frame 13 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px 0px 0px 10px;

position: absolute;
width: 384px;
height: 285px;
left: 528px;
top: 300px;

/* Rich Black FOGRA 29 */
border: 1px solid #051923;
box-sizing: border-box;
border-radius: 20px;


/* Frame 12 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 0px 0px 40px;

position: static;
width: 364px;
height: 265px;
left: 10px;
top: 10px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 0px 10px;


/* Input */

position: static;
width: 284px;
height: 41px;
left: 40px;
top: 40px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 0px 31px;


/* Rectangle 14 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Rich Black FOGRA 29 */
border: 1px solid #051923;
box-sizing: border-box;
border-radius: 6px;


/* Login */

position: absolute;
width: 45px;
height: 21px;
left: 10px;
top: calc(50% - 21px/2);

/* Content */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

/* Indigo Dye */
color: #10435F;


/* Input */

position: static;
width: 284px;
height: 41px;
left: 40px;
top: 112px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 0px 31px;


/* Rectangle 14 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Rich Black FOGRA 29 */
border: 1px solid #051923;
box-sizing: border-box;
border-radius: 6px;


/* Password */

position: absolute;
width: 80px;
height: 21px;
left: 10px;
top: calc(50% - 21px/2);

/* Content */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

/* Indigo Dye */
color: #10435F;


/* Frame 11 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 284px;
height: 41px;
left: 40px;
top: 184px;


/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
flex-grow: 0;
margin: 0px 31px;


/* Button */

position: static;
width: 131px;
height: 41px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 22px 0px;


/* Rectangle 13 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Prussian Blue */
background: #003554;
/* Rich Black FOGRA 29 */
border: 1px solid #051923;
box-sizing: border-box;
border-radius: 6px;


/* Sign in */

position: absolute;
width: 54px;
height: 21px;
left: calc(50% - 54px/2 + 0.5px);
top: calc(50% - 21px/2);

/* Content */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

/* Yellow Crayola */
color: #FFF07C;


/* Button */

position: static;
width: 131px;
height: 41px;
left: 153px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 22px 0px;


/* Rectangle 13 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Prussian Blue */
background: #003554;
/* Rich Black FOGRA 29 */
border: 1px solid #051923;
box-sizing: border-box;
border-radius: 6px;


/* Sign up */

position: absolute;
width: 60px;
height: 21px;
left: calc(50% - 60px/2 + 0.5px);
top: calc(50% - 21px/2);

/* Content */
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

/* Yellow Crayola */
color: #FFF07C;


/* Navbar */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 54px;
left: 0px;
right: 0px;
top: 0px;



/* Frame 4 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 1440px;
height: 54px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 10px;


/* Frame 2 */

position: static;
left: 0px;
right: 0px;
top: 0px;
bottom: 7px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


/* Rectangle 6 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Prussian Blue */
background: #003554;


/* Frame 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5.59524px 0px 0px 11.1905px;

position: absolute;
width: 119.93px;
height: 47.19px;
left: 0px;
top: calc(50% - 47.19px/2);



/* Logo */

position: static;
width: 36px;
left: 11.19px;
top: 11.86%;
bottom: 11.86%;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
flex-grow: 0;
margin: 11.1905px 0px;


/* Ellipse 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Red Munsell */
background: #F21B3F;


/* L */

position: absolute;
width: 9.87px;
height: 16.27px;
left: calc(50% - 9.87px/2 + 0.21px);
top: calc(50% - 16.27px/2 - 0.51px);

background: #FFFFFF;


/* Maila */

position: static;
width: 50.36px;
height: 31.33px;
left: 58.38px;
top: 7.93px;

font-family: Staatliches;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 31px;
/* identical to box height */
text-align: center;

/* Yellow Crayola */
color: #FFF07C;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
flex-grow: 0;
margin: 11.1905px 0px;


/* Rectangle 12 */

position: static;
height: 7px;
left: 0px;
right: 0px;
top: 47px;

/* Dodger Blue */
background: #4392F1;

/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
