:root {
    --backgroundColorInput: #b4b8b8;
    --backgroundColorPage: #38444c;
    --buttonBorderRadius: 3px;
    --buttonPadding: 10px 8px;

    --textColor: #b4b8b8;
    --buttonTextColor: #211f1f;


    --backgroundColorForm: #293238;
    --acceptColorHover: #15a5d0;
    --passiveColorHover: #696569;
    --errorInputColor: #722323;
    --navbarHeigh: 60px;
}

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background: var(--backgroundColorPage);
    font-family: "Apple SD Gothic Neo", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--textColor);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.MainTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    align-self: center;
}

.InputTitle{
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
    width: 0px;
    height: 50px;
}

.text{
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: var(--textColor);
    align-self: center;
}

.inline{
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.ItemsInline{
    display: flex;
    align-items: center;
}
