.mainPage {
    display: grid;
    /*margin: auto;*/
    grid-template-areas:
    "navbarMain navbarMain navbarMain"
    "folders letterlist letter";

    grid-template-rows: var(--navbarHeigh) 100% 100%;
    grid-template-columns: 1fr 2fr 8fr;
    background: var(--backgroundColorPage);
    overflow: hidden;
    top: 0;
    position: fixed;
    z-index: -1;
}

.navbar-main{
    grid-area: navbarMain;
    top:0;
    width: 100%;
    z-index: 10000;
    height: var(--navbarHeigh);
}

.folders-main{
    grid-area: folders;
    text-align: left;
    background: var(--buttonTextColor);

    overflow-y: auto;
    overflow-x: hidden;
    /*width: 200px;*/
    height: calc(100vh - var(--navbarHeigh));
}
.letterlist-main{
    grid-area: letterlist;

    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - var(--navbarHeigh));
}
.letter-main{
    grid-area: letter;
    overflow-y: auto;
    overflow-x: hidden;
}

.listView {
    list-style:none;
    text-align: left;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
