.SignUpPage{
    height: 100vh;
    vertical-align: center;
    horiz-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpForm{
    border: 1px solid var(--acceptColorHover);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    background: var(--backgroundColorForm);
    width: 370px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:         0px 0px 5px 0px var(--acceptColorHover);

}