.Page-WriteLetter{
    height: 100vh;
    vertical-align: center;
    horiz-align: center;
    margin: auto;
    display: grid;
    grid-template-areas:
"navbar navbar navbar"
". form .";
    grid-auto-rows: 1fr 100%;
    grid-auto-columns: 1fr 1.5fr 1fr;
}

.Form-WriteLetter{
    grid-area: form;
    border: 1px solid var(--acceptColorHover);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    background: var(--backgroundColorForm);
    margin-bottom: 10%;
    box-shadow:         0px 0px 5px 0px var(--acceptColorHover);
    margin-top: 20px;
    display: grid;
    grid-template-areas:
    "reciever . ."
    "theme . ."
    "text text text"
    ". . buttons";
    grid-auto-rows: 1fr 1fr 5fr;


}

.navbar-writeletter{
    grid-area: navbar;
}

.input-reciever-writeLetter{
    margin-top: 20px;
    grid-area: reciever;
}

.input-theme-writeLetter{
    grid-area: theme;
}

.input-text-writeLetter{
    grid-area: text;
}

.buttons-writeLetter{
    grid-area: buttons;
}

.button-send-writeLetter{
    margin-left: 10px;
}