include  BaseComponents/button
include BaseComponents/pageTitle
+pageTitle('Меню')
+button('Войти','signin')
+button('Регистрация', 'signup')
+button('Профиль', 'profile')

//export {template}Регистрация