include  BaseComponents/button
include BaseComponents/pageTitle
include BaseComponents/Text
include BaseComponents/avatar
include BaseComponents/classNames
+pageTitle('Профиль')

div
    +text(locals.name + ' ' + locals.surname, 'profile_name')
    +text('Email: ' + locals.email)
    +text('Аватар')
    +avatar(locals.avatar)
    +button('Редактировать', 'editButton')
    +button('Назад' ,name='back')


//export {template}