include  BaseComponents/button
include BaseComponents/pageTitle
include BaseComponents/Text
include BaseComponents/avatar
include BaseComponents/classNames

+pageTitle('Войти')
form(method='POST' class=classNames.formClass)
    +text('Login')
    input(type='text', name='email')
    +text('Password')
    input(type='password', name='password' class=classNames.inputClass)
    input(type='submit', value='Войти', class=classNames.inputClass)
    +button('Регистрация','signup')
    +button('Назад','back')

//export {template}