<!--<link rel="stylesheet" type="text/css" href="../../public/css/navbar.css">-->
<!--<ul id="navbar">-->
<!--    <li>LOGO</li>-->
<!--    <li>-->
<!--        <button name="send">Отправить</button>-->
<!--    </li>-->
<!--    <li><img width="70" height="70" id="avatar" src=""/></li>-->
<!--    <li>-->
<!--        <button name="profile">Профиль</button>-->
<!--    </li>-->
<!--    <li>-->
<!--        <button name="exit">Выйти</button>-->
<!--    </li>-->
<!--</ul>-->

<!-- Компонент навигационного меню -->
<div class="navbar-component">
    <!-- Класс `area` — это простой контейнер (об этом позднее) -->
    <div class="navbar area">
        <!-- Логотип -->
        <a href="#" class="brand">Brand</a>
        <!-- Список ссылок -->
        <nav role="navigation" id="navigation" class="list">
            <a href="#" class="item -link">Home</a>
            <a href="#" class="item -link">Articles</a>
            <a href="#" class="item -link">Projects</a>
            <a href="#" class="item -link">Resources</a>
            <a href="#" class="item -link">About me</a>
            <span class="item">
        <i class="fa fa-search"></i>
      </span>
        </nav>
        <!-- Кнопка для мобильных -->
        <button data-collapse data-target="#navigation" class="toggle">
            <!-- Здесь будет иконка гамбургера -->
            <span class="icon"></span>
        </button>
    </div>
</div>