header(class="s-header")
    div(class="row s-header__content")
        nav(class="s-header__nav-wrap")
            h2(class="s-header__nav-heading h6") Навигация

            ul(class="s-header__nav")
                li
                    a(name="navbar-letters") Письма
                li
                    a(name="navbar-send") Написать
                li
                    a(name="navbar-profile") Профиль
                li
                    a(name="navbar-exit") Выйти

                a(title="Close Menu" class="s-header__overlay-close close-mobile-menu") Выйти

        a(class="s-header__toggle-menu" title="Menu")
            span Навигация
