include button
include avatar
mixin navbar(src)
    ul()
        li() LOGO
        li()
            a(name = 'navbar-send') 'Отправить'
        li()
            a(name = 'navbar-letters') 'Письма'
        li()
            +avatar('')
        li()
            a(name = 'navbar-profile') 'Профиль'
        li()
            a(name = 'navbar-exit') 'Выйти'


+navbar(src)
//export {template}