include button
include avatar
mixin navbar(src)
    ul()
        li() LOGO
        li()
            +button('Отправить', 'navbar-send', "")
        li()
            +avatar('')
        li()
            +button('Профиль', 'navbar-profile', "")
        li()
            +button('Выйти', 'navbar-exit', "")

+navbar(src)
//export {template}