include button
include avatar

div(class="navbar-main")
    div(class="navbar ")
        //+avatar(locals.avatar)
        label(name = 'navbar-letters' class="label logo-navbar") LOGO
        button(name = 'navbar-send' class="Button send-navbar button-send-navbar") Написать
        button(name = 'navbar-profile' class="Button-state-accept profile-navbar") Профиль
        button(name = 'navbar-exit' class="Button-state-passive exit-navbar") Выйти

//export {template}
