
div(class="navbar-main")
    div(class="navbar ")
        img(name = 'navbar-letters' class="label logo-navbar" src='/LOGO.jpg' width='140px' height='140px' )
        button(name = 'navbar-send' class="Button send-navbar button-send-navbar") Написать
        button(name = 'navbar-profile' class="Button-state-accept profile-navbar") Профиль
        button(name = 'navbar-exit' class="Button-state-passive exit-navbar") Выйти

//export {template}
